.sub {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    span {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0.056px;
        margin-left: 12px;
    }
}

.text_top {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.15px;
    margin-bottom: 16px;
}

.num {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-bottom: 12px;
}

.diagram {
    width: 100%;
    height: 16px;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 12px;
}

.line {
    height: 100%;
    transition: all 0.3s;

    &_pro {
        background-color: #7763E0;
    }

    &_account {
        background-color: #5CD8F0;
    }

    &_accounting {
        background-color: #5084E8;
    }

    &_seo {
        background-color: #63E08D;
    }

    &_call {
        background-color: #E0F55B;
    }

    &_trust {
        background-color: #f5cc5b;
    }
}

.block {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.bage {
    background-color: #F8FAFD;
    border-radius: 100px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    width: max-content;
    div {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 6px;
    }

    &_pro {
        div {
            background-color: #7763E0;
        }  
    }

    &_account {
        div {
            background-color: #5CD8F0;
        } 
    }

    &_accounting {
        div {
            background-color: #5084E8;
        } 
    }

    &_seo {
        div {
            background-color: #63E08D;
        } 
    }

    &_call {
        div {
            background-color: #E0F55B;
        }
    }

    &_trust {
        div {
            background-color: #f5cc5b;
        }
    }
}