@import './vendor/normalize.css';
@import './vendor/fonts/fonts.css'; 



img {
 
  user-select: none;
}

input:focus,
button:focus {
	outline: 0;
};

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

h2 {
   margin: 0;
   padding: 0; 
}

